@using Examine.LuceneEngine.SearchCriteria
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var homePage = Model.Content.AncestorOrSelf(1);
    var pages = homePage.Children.Where(c => !c.GetPropertyValue<bool>("umbracoNaviHide"));
    var searchResultsLink = homePage.Children.FirstOrDefault(x => x.DocumentTypeAlias == "search").Url;

    string searchTerm = Request.QueryString["search"];
    if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }

    var searcher = ExamineManager.Instance;
    var searchCriteria = searcher.CreateSearchCriteria();

    var query = searchCriteria.GroupedOr(new[] { "nodeName", "name", "pageTitle", "bodyText", "grid", "text", "productInformation", "aboutBrand", "newsText", "seo", "description", "tags" }, searchTerm).Compile();

    var searchResults = searcher.Search(query).Where(r => r["__IndexType"] == "content" && Umbraco.TypedContent(r.Id).IsDescendant(homePage) && Umbraco.TypedContent(r.Id).DocumentTypeAlias != "productVariant").ToList();

    var visibleSearchResultsCount = 3;
    var numberOfSearchResultsPerPage = Model.Content.GetPropertyValue("numberOfSearchResultsPerPage");
    if (numberOfSearchResultsPerPage != null)
    {
        var numberOfSearchResultsPerPageInt = Int32.Parse(numberOfSearchResultsPerPage.ToString());
        if (numberOfSearchResultsPerPageInt > 0)
        {
            visibleSearchResultsCount = numberOfSearchResultsPerPageInt;
        }
    }
}


<div id="novosti-page">
    <div id="row-wrapper" class="content">

        @if (searchResults.Any())
        {
            <div id="paginationContainer">
                <section class="row hidden placeholder">
                    <div>
                    </div>
                </section>
                @{
                    if (searchResults.Count <= visibleSearchResultsCount)
                    {
                        for (var i = 0; i < searchResults.Count; i++)
                        {
                            if (searchResults[i] != null)
                            {
                                var result = searchResults[i];

                                var node = Umbraco.TypedContent(result.Id);

                                var pathIds = result["__Path"].Split(',');

                                var path = Umbraco.TypedContent(pathIds).Where(p => p != null && p.Level > 1).Select(p => new { p.Name }).ToList();

                                var id = "searchResult" + (i + 1).ToString();

                                <section class="row" id="@id">
                                    <div></div>
                                    <div>
                                        <h2>
                                            <a href="@node.Url">@String.Join(" > ", path.Select(p => p.Name))</a>
                                            @*<a href="@(node.DocumentTypeAlias == "event" || node.DocumentTypeAlias == "newsItem" || node.DocumentTypeAlias == "product" ? node.Parent.Url : node.Url)">@String.Join(" > ", path.Select(p => p.Name))</a>*@
                                        </h2>
                                        @if (result.Fields.ContainsKey("productInformation"))
                                        {
                                            <p>@result["productInformation"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("eventDescription"))
                                        {
                                            <p>@result["eventDescription"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("newsText"))
                                        {
                                            <p>@result["newsText"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("aboutBrand"))
                                        {
                                            <p>@result["aboutBrand"].Truncate(200)</p>
                                        }
                                    </div>
                                </section>
                            }
                        }
                    }
                    else
                    {
                        for (var i = 0; i < visibleSearchResultsCount; i++)
                        {
                            if (searchResults[i] != null)
                            {
                                var result = searchResults[i];

                                var node = Umbraco.TypedContent(result.Id);

                                var pathIds = result["__Path"].Split(',');

                                var path = Umbraco.TypedContent(pathIds).Where(p => p != null && p.Level > 1).Select(p => new { p.Name }).ToList();

                                var id = "searchResult" + (i + 1).ToString();

                                <section class="row" id="@id">
                                    <div></div>
                                    <div>
                                        <h2>
                                            <a href="@node.Url">@String.Join(" > ", path.Select(p => p.Name))</a>
                                            @*<a href="@(node.DocumentTypeAlias == "event" || node.DocumentTypeAlias == "newsItem" || node.DocumentTypeAlias == "product" ? node.Parent.Url : node.Url)">@String.Join(" > ", path.Select(p => p.Name))</a>*@
                                        </h2>
                                        @if (result.Fields.ContainsKey("productInformation"))
                                        {
                                            <p>@result["productInformation"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("eventDescription"))
                                        {
                                            <p>@result["eventDescription"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("newsText"))
                                        {
                                            <p>@result["newsText"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("aboutBrand"))
                                        {
                                            <p>@result["aboutBrand"].Truncate(200)</p>
                                        }
                                    </div>
                                </section>
                            }
                        }
                        for (var j = visibleSearchResultsCount; j < searchResults.Count; j++)
                        {
                            if (searchResults[j] != null)
                            {
                                var result = searchResults[j];

                                var node = Umbraco.TypedContent(result.Id);

                                var pathIds = result["__Path"].Split(',');

                                var path = Umbraco.TypedContent(pathIds).Where(p => p != null && p.Level > 1).Select(p => new { p.Name }).ToList();

                                var id = "searchResult" + (j + 1).ToString();

                                <section class="row hidden" id="@id">
                                    <div></div>
                                    <div>
                                        <h2>
                                            <a href="@node.Url">@String.Join(" > ", path.Select(p => p.Name))</a>
                                            @*<a href="@(node.DocumentTypeAlias == "event" || node.DocumentTypeAlias == "newsItem" || node.DocumentTypeAlias == "product" ? node.Parent.Url : node.Url)">@String.Join(" > ", path.Select(p => p.Name))</a>*@
                                        </h2>
                                        @if (result.Fields.ContainsKey("productInformation"))
                                        {
                                            <p>@result["productInformation"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("eventDescription"))
                                        {
                                            <p>@result["eventDescription"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("newsText"))
                                        {
                                            <p>@result["newsText"].Truncate(200)</p>
                                        }

                                        @if (result.Fields.ContainsKey("aboutBrand"))
                                        {
                                            <p>@result["aboutBrand"].Truncate(200)</p>
                                        }
                                    </div>
                                </section>
                            }
                        }
                    }
                }
            </div>

            <section id="pagination">

                <span id="previousPageControl">&lt;</span>
                <span id="nextPageControl">&gt;</span>
                <div id="pageButtonsContainer">
                </div>

            </section>
        }
        else
        {
            <h3>
                @umbraco.library.GetDictionaryItem("No search results")

                @if (!String.IsNullOrWhiteSpace(searchTerm))
                {
                    <text>"@searchTerm"</text>
                }
            </h3>
        }


    </div>
</div>

@* ----------------- Pagination script ----------------- *@
<script>

    var visibleItemsCount = @visibleSearchResultsCount;

    // scroll to search results
    $(document).ready(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#row-wrapper").offset().top
        }, 400, "swing");
    });

</script>

<script src="~/scripts/pagination.js"></script>
