@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-small-list {
  padding: 0 20% 0 0;
}

.slick-dots {
  position: absolute;
  bottom: 1vw;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.slick-small .slick-slide {
  margin-right: 60px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background-color: transparent;
  transition: all 0.2s;
  z-index: 4;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  padding-right: 3rem;
}
.header__search {
  border-right: solid 2px #dbac80;
}
.header__search i {
  color: #dbac80;
  padding: 1rem 2rem;
}
.header__logo--atlantic {
  width: 6rem;
}
.header__logo--stark {
  width: 10rem;
}

.not-transparent {
  background-color: rgba(219, 172, 128, 0.3);
}

.footer {
  padding-top: 4rem;
  border-top: solid 4px #dbac80;
  z-index: 2;
  background-color: rgba(203, 0, 0, 0.3);
}
.footer h1::after {
  display: none;
}
.footer h3 {
  text-transform: capitalize;
}
.footer__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.footer__newsletter {
  width: 50%;
}
.footer__newsletter form {
  padding-top: 1rem;
  height: 4rem;
  width: 90%;
  display: flex;
}
.footer__newsletter form input {
  outline: none;
}
.footer__newsletter form input[type=email] {
  width: 80%;
  color: black;
  padding-left: 1rem;
}
.footer__newsletter form input[type=submit] {
  width: 20%;
  background-color: #dbac80;
  color: white;
  border: 0;
  text-transform: uppercase;
}
.footer h4 {
  padding-bottom: 1rem;
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer li {
  font-size: 1.25rem;
  padding-bottom: 0.375rem;
}
.footer li::first-letter {
  text-transform: capitalize;
}
.footer a {
  text-decoration: none;
}
.footer__list {
  width: 20%;
}
.footer__list--wide {
  width: 25%;
}
.footer__to-top {
  width: 5%;
  display: flex;
  align-items: flex-end;
}
.footer__to-top div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #dbac80;
  width: 5rem;
  height: 5rem;
}
.footer__to-top i {
  color: white;
}
.footer__copy {
  width: 100%;
}

.menu {
  width: 30px;
  height: 15px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 50;
}
.menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #dbac80;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.menu span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.menu span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}
.menu span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}
.menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -7;
  left: 3px;
}
.menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 3px;
}

.index-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  border-bottom: solid 4px #dbac80;
}
.index-content section:last-child {
  border: none;
}
.index-content .landing p {
  width: 20%;
  position: relative;
  padding: 18% 0 18% 25%;
  text-align: center;
  align-self: flex-start;
  font-size: 2rem;
}
.index-content .other {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  width: 80%;
}
.index-content .packages {
  background-image: url("../img/naslovnica/pakovanjaSlika.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 90%;
}
.index-content .packages__text {
  width: 22%;
  padding: 13rem 0;
  margin-right: 35%;
}
.index-content .packages__text p {
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem 0 6rem 0;
}
.index-content .loyalty {
  background-image: url("../img/naslovnica/loyaltySlika.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: right;
}
.index-content .loyalty__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  width: 45%;
  padding: 2rem 0;
}
.index-content .loyalty p {
  width: 40%;
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem 0 6rem 0;
}
.index-content .packages__text::first-letter,
.index-content .loyalty__text::first-letter {
  text-transform: capitalize;
}
.index-content .shops__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.index-content .news {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3.5rem;
}
.index-content .news .grid {
  padding: 0;
  align-self: flex-end;
}
.index-content .news .grid__item {
  width: 32%;
}
.index-content .contact {
  justify-content: center;
  align-items: center;
  background-image: url("../img/naslovnica/kontaktSlika.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.index-content .contact a {
  margin: 26rem 0;
}
.index-content .slick {
  width: 90%;
  overflow: hidden;
  border: 0;
  z-index: 10;
}
.index-content .slick__item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: right;
  height: 475px;
  width: 475px;
}
.index-content .slick__item p {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}
.index-content .slick .slick-1 {
  background-image: url("../img/naslovnica/blog%201.png");
}
.index-content .slick .slick-2 {
  background-image: url("../img/naslovnica/blog%202.png");
}
.index-content .slick .slick-3 {
  background-image: url("../img/naslovnica/blog%203.png");
}
.index-content .slick .slick-4 {
  background-image: url("../img/naslovnica/blog%202.png");
}
.index-content .slick__next {
  position: absolute;
  right: 0;
  z-index: 11;
}
.index-content .slick__next div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb0000;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.index-content .slick__next i {
  color: white;
  font-size: 1.5rem;
}

.track {
  display: block;
  width: 60rem;
  position: absolute;
  top: -1%;
  left: -5%;
  z-index: 4;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8rem;
  width: 80%;
  align-self: center;
}
.grid__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid__item img {
  width: 100%;
  align-self: center;
  padding: 2rem 0;
  transition: all 0.3s;
}
.grid__item img:hover {
  transform: scale(1.1);
}

.grid-1st {
  background-image: url("../img/naslovnica/pozadinaDrazeje.png");
}

.grid-2nd {
  background-image: url("../img/naslovnica/pozadinaDeserti.png");
}

.grid-3rd {
  background-image: url("../img/naslovnica/pozadinaFigaro.png");
}

.flavour-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 8rem;
}
.flavour-grid__item {
  width: 23.5%;
  padding-bottom: 4rem;
}
.flavour-grid__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #dbac80;
  position: relative;
}
.flavour-grid__item div a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.flavour-grid__item div img {
  width: 100%;
  align-self: center;
}
.flavour-grid__item div p {
  width: 70%;
  margin: 3rem 0 6rem 0;
  font-size: 1.25rem;
  text-align: center;
}
.flavour-grid__item div:hover {
  background-color: rgba(219, 172, 128, 0.3);
}
.flavour-grid__item div:hover .flavour-more {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 1.25rem;
  color: white;
  background-color: #dbac80;
}
.flavour-grid .flavour-more {
  display: none;
  position: absolute;
  bottom: 0;
}

.subpage-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subpage-content section:last-of-type {
  padding-bottom: 10rem;
}
.subpage-content .landing {
  padding-top: 10%;
}
.subpage-content .landing__text {
  font-size: 2rem;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}
.subpage-content h3 {
  position: relative;
}
.subpage-content h3::after {
  content: "";
  bottom: -50%;
  width: 40%;
  position: absolute;
  border-bottom: solid 0.35rem #cb0000;
  left: 30%;
}

.frame {
  padding-top: 10rem;
}
.frame__wrapper {
  width: 80%;
  display: flex;
  border: solid 2px #dbac80;
}
.frame__img {
  width: 50%;
  display: flex;
}
.frame__img img {
  width: 100%;
  align-self: center;
}
.frame__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.frame__text a {
  width: 50%;
}
.frame__text a img {
  width: 100%;
}

.intro {
  height: 100%;
}
.intro__wrapper {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.intro__img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.intro__img img {
  width: 50%;
  align-self: center;
}
.intro__text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro__text p {
  font-size: 1.5rem;
  width: 60%;
  padding: 2rem 0;
  margin: 0;
}

.info {
  padding-top: 4rem;
  height: 25vw;
}
.info h3 {
  text-transform: uppercase;
  padding: 1rem 4rem;
}
.info h3::after {
  display: none;
}
.info__wrapper {
  width: 80%;
  display: flex;
}
.info__about {
  width: 50%;
}
.info__about h3 {
  border-right: solid 2px #dbac80;
  margin: 0;
}
.info__about--text {
  display: block;
  padding: 2rem 0 0 4rem;
  width: 75%;
  font-size: 1.5rem;
}
.info__nutrition {
  width: 50%;
}
.info__nutrition table {
  width: 80%;
  padding: 2rem 0 0 4rem;
  font-size: 1.5rem;
  border-collapse: collapse;
}
.info__nutrition table tbody {
  display: table;
  width: 100%;
}
.info__nutrition table tr {
  width: 100%;
}
.info__nutrition table td {
  border-bottom: solid 2px #dbac80;
  padding: 1.5rem 0;
}
.info__nutrition table td:nth-of-type(2) {
  text-align: right;
}
.info__nutrition--table {
  display: none;
}

.about-heading,
.nutrition-heading {
  box-sizing: border-box;
}

.active {
  border-top: solid 2px #dbac80;
}

.inactive {
  border-bottom: solid 2px #dbac80;
}

.locations {
  background-color: white;
}
.locations h3 {
  margin: 4rem 0;
}
.locations h4 {
  font-size: 2rem;
}
.locations__wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 2rem 0;
}
.locations__wrapper div:nth-of-type(1) {
  align-items: flex-end;
}
.locations__wrapper div:nth-of-type(3) {
  align-items: flex-start;
}
.locations__list {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}
.locations__list ul {
  padding: 1rem 0;
  margin: 0;
}
.locations__list li {
  font-size: 2rem;
  color: black;
}
.locations__list li:hover {
  font-weight: bold;
}
.locations__list li:hover .circle {
  opacity: 1;
}
.locations__img {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  border-left: solid 2px #dbac80;
  border-right: solid 2px #dbac80;
}
.locations__img img {
  align-self: center;
  width: 100%;
}

.map {
  width: 100%;
  height: 15rem;
}

.circle {
  display: inline-block;
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  background-color: #cb0000;
  border-radius: 50%;
}

.blog {
  width: 100%;
  margin-top: 4rem;
}
.blog p {
  color: black;
  margin: 0.5rem 0;
}
.blog__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-bottom: solid 4px #dbac80;
}
.blog__wrapper div {
  width: 50%;
  display: flex;
  padding: 6rem 4rem;
}
.blog__img {
  justify-content: flex-end;
}
.blog__img img {
  align-self: center;
}
.blog__text {
  flex-direction: column;
  align-items: flex-start;
}
.blog__text i {
  font-size: 2rem;
  color: #cb0000;
  padding: 1rem 0;
}
.blog h4 {
  margin-bottom: 2rem;
}

.contact {
  margin-top: 4rem;
}
.contact h2 {
  margin: 4rem 0;
}
.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 4px #dbac80;
}
.contact__wrapper div {
  display: flex;
  width: 50%;
  padding: 4rem 0;
  align-items: center;
}
.contact__img {
  justify-content: flex-end;
}
.contact__text li {
  color: black;
  font-size: 1.5rem;
}
.contact__text li:last-of-type {
  padding-top: 3rem;
  color: #dbac80;
}
.contact__text ul h4 {
  padding-bottom: 2rem;
  color: #dbac80;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  border: none;
}
.contact__form fieldset {
  border: none;
}
.contact__form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}
.contact__form form fieldset {
  padding-bottom: 1.5vw;
}
.contact__form form input {
  height: 3.5vw;
  border: solid 1px #dbac80;
  padding-left: 1vw;
  box-sizing: border-box;
  font-size: 1vw;
}
.contact__form form legend {
  font-size: 1vw;
  padding-bottom: 0.4vw;
  color: black;
}
.contact__form form fieldset:nth-of-type(1),
.contact__form form fieldset:nth-of-type(2),
.contact__form form fieldset:nth-of-type(4),
.contact__form form fieldset:nth-of-type(5) {
  width: 35vw;
}
.contact__form form fieldset:nth-of-type(1) input,
.contact__form form fieldset:nth-of-type(2) input,
.contact__form form fieldset:nth-of-type(4) input,
.contact__form form fieldset:nth-of-type(5) input {
  width: 35vw;
}
.contact__form form fieldset:nth-of-type(3n) {
  width: 100%;
}
.contact__form form fieldset:nth-of-type(3n) input,
.contact__form form fieldset:nth-of-type(3n) textarea {
  width: 100%;
}
.contact__form form fieldset:nth-of-type(6) {
  height: 40vh;
}
.contact__form form textarea {
  width: 74.5vw;
  height: 40vh;
  border: solid 1px #dbac80;
  padding: 1vw;
  box-sizing: border-box;
  resize: none;
}

* {
  color: #dbac80;
  font-family: sans-serif;
}

html {
  font-size: calc(40% + 0.5vw);
}

body {
  background-image: url("../img/pattern.png");
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, #331501 0%, rgba(0, 0, 0, 0) 50%, #331501 100%);
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.big-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.big-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/patternTrakica.png);
  background-repeat: repeat-y;
  background-position: right;
  background-size: 4.5rem;
  height: 100%;
  z-index: 5;
  width: 8%;
}

.small-wrapper {
  width: 95%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slide-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: #331501;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap;
  overflow: hidden;
}
.slide-menu a {
  padding: 4vh 4vh 4vh 8vh;
  height: 4vh;
  text-decoration: none;
  font-size: 3.5vh;
  color: #fff;
  transition: 0.3s;
}

h1 {
  font-size: 4rem;
  align-self: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

h1::after {
  content: "";
  bottom: -20%;
  width: 40%;
  position: absolute;
  border-bottom: solid 0.5rem #cb0000;
  left: 30%;
}

.top-line::after {
  bottom: unset;
  top: -30%;
}

.no-line {
  align-self: flex-start;
}

.no-line::after {
  display: none;
}

.heading-side {
  background-color: #cb0000;
  color: white;
  font-size: 2.25rem;
  padding: 1rem 2.5rem;
}

.heading-side::after {
  display: none;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #dbac80;
  font-size: 2rem;
}

.link-border {
  text-decoration: none;
  text-transform: uppercase;
  color: #dbac80;
  padding: 1rem 4rem;
  border: solid 2px #dbac80;
}

.img-wide {
  padding: 4rem 0;
  margin: 0 auto;
  width: 100%;
}

.showcase {
  display: flex;
  width: 70%;
  margin-top: -10%;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.showcase img {
  width: 20%;
  align-self: center;
}

.parallax {
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 3rem;
}

.parallax-big {
  width: 100%;
  height: 35rem;
  margin-top: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img1 {
  background: url("../img/parallax.jpg");
}

.jvs-logo {
  width: 20rem;
  display: block;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 5;
}

.jvs-logo-small {
  width: 15rem;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
}

.hide {
  opacity: 0;
}

.white {
  background-color: white;
  border-top: solid 4px #dbac80;
}

/*# sourceMappingURL=main.css.map */
