﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<JaVolimStark.Models.ContactModel>

<section id="contact">
    <div class="contact__form">
        @using (Html.BeginUmbracoForm<JaVolimStark.Controllers.ContactController>("Contact", null, new { }, FormMethod.Post))
        {
            var validation = @umbraco.library.GetDictionaryItem("Required");
            <fieldset>
                <legend>@umbraco.library.GetDictionaryItem("Full name")</legend>
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.FullName, validation)
            </fieldset>

            <fieldset>
                <legend>Email</legend>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.Email, validation)
            </fieldset>

            <fieldset>
                <legend>@umbraco.library.GetDictionaryItem("Address")</legend>
                @Html.TextBoxFor(m => m.Address, new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.Address, validation)
            </fieldset>

            <fieldset>
                <legend>@umbraco.library.GetDictionaryItem("Phone")</legend>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.Phone, validation)
            </fieldset>

            <fieldset>
                <legend>@umbraco.library.GetDictionaryItem("Company")</legend>
                @Html.TextBoxFor(m => m.Company, new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.Company, validation)
            </fieldset>

            <fieldset>
                <legend>@umbraco.library.GetDictionaryItem("Message")</legend>
                @Html.TextAreaFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message, validation)
                <input type="submit" id="btn_submit" class="form-submit" hidden />
            </fieldset>
        }
    </div>
</section>

<div class="submit-button" onclick="document.getElementById('btn_submit').click();">@umbraco.library.GetDictionaryItem("Send")</div>


@*<div class="contact__form">
        <form>
            <fieldset>
                <legend>Puno ime</legend>
                <input type="text">
            </fieldset>
            <fieldset>
                <legend>e-mail</legend>
                <input type="email">
            </fieldset>
            <fieldset>
                <legend>Adresa</legend>
                <input type="text">
            </fieldset>
            <fieldset>
                <legend>Telefon</legend>
                <input type="tel">
            </fieldset>
            <fieldset>
                <legend>Kompanija</legend>
                <input type="text">
            </fieldset>
            <fieldset>
                <legend>Poruka</legend>
                <textarea></textarea>
            </fieldset>
        </form>
    </div>*@