﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = Model.Content.AncestorOrSelf(1);
    var pages = home.Children.Where(x => !x.GetPropertyValue<bool>("umbracoNaviHide"));
    var locations = home.Children("locations").FirstOrDefault().Children();
}

<footer class="footer">
    <div class="footer__wrapper">
        @Html.Partial("NewsletterForm", new JaVolimStark.Models.NewsletterModel())
        <div class="footer__list">
            <h4>@home.GetPropertyValue("pageTitle")</h4>
            <ul>
                @foreach (var page in pages)
                {
                    <li><a href="@page.Url">@page.Name</a></li>
                }
            </ul>
        </div>
        <div class="footer__list--wide">
            <h4>@locations.FirstOrDefault().Parent.Name</h4>
            <ul>
                @foreach (var city in locations)
                {
                    foreach (var location in city.Children())
                    {
                        <li><a href="">@location.GetPropertyValue("address"), @city.Name</a></li>
                    }
                }
            </ul>
        </div>

        <div class="footer__to-top">
            <div>
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        <p class="footer__copy">&copy; @umbraco.library.GetDictionaryItem("Copyrights")</p>
    </div>
</footer>
