﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = CurrentPage.AncestorOrSelf(1);
    var searchResultsLink = home.Children("search").FirstOrDefault().Url;
}

<a href="@home.Url">
    <img class="jvs-logo" src="~/img/jaVolimStarkLogo.png" alt="" />
</a>
<header class="header">
    <nav class="header__wrapper">
        <div class="header__search">
            <input id="search-input" class="search-input" type="search" placeholder="@umbraco.library.GetDictionaryItem("Search")" data-link="@searchResultsLink" />
            <a id="search-button"><i class="fa fa-search"></i></a>
        </div>
        <img class="header__logo--atlantic" src="~/img/atlanticLOGO.png" alt="" />
        <img class="header__logo--stark" src="~/img/starkLOGO.png" alt="" />
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>

<div class="slide-menu">
</div>