﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<JaVolimStark.Models.NewsletterModel>

<div class="footer__newsletter">
    <h3>@umbraco.library.GetDictionaryItem("Newsletter")</h3>
    @using (Html.BeginUmbracoForm<JaVolimStark.Controllers.NewsletterController>("Newsletter", null, new { }, FormMethod.Post))
    {
        var validation = umbraco.library.GetDictionaryItem("Required");
        @Html.TextBoxFor(m => m.Email, new { placeholder = "e-mail", @type = "email", required = "required" })
        @Html.ValidationMessageFor(m => m.Email, validation)
        <input type="submit" value="@umbraco.library.GetDictionaryItem("Apply")">
    }
    <img src="" alt="" />
</div>

@*<div class="footer__newsletter">
        <h3>newsletter</h3>
        <form>
            <input type="email" />
            <input type="submit" value="prijavi se" />
        </form>
        <img src="" alt="" />
    </div>*@
