﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1>deserti</h1>
        <div class="parallax img1" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
        <div class="showcase">
            <img src="~/img/square.jpg" alt="" />
            <img src="~/img/square.jpg" alt="" />
            <img src="~/img/square.jpg" alt="" />
            <img src="~/img/square.jpg" alt="" />
        </div>
        <h2>Na Vama je samo da odaberete pravi slatkiš</h2>
    </section>
    <section class="frame">
        <div class="frame__wrapper">
            <div class="frame__img">
                <img src="~/img/square.jpg" alt="" />
            </div>
            <div class="frame__text">
                <a href="subcategory.html"><img src="~/img/square.jpg" alt="" /></a>
                <h3>lorem ipsum</h3>
                <p>bla bla bla bla bla bla bla</p>
            </div>
        </div>
    </section>
    <section class="frame">
        <div class="frame__wrapper">
            <div class="frame__text">
                <a href="subcategory.html"><img src="~/img/square.jpg" alt="" /></a>
                <h3>lorem ipsum</h3>
                <p>bla bla bla bla bla bla bla</p>
            </div>
            <div class="frame__img">
                <img src="~/img/square.jpg" alt="" />
            </div>
        </div>
    </section>
</div>