﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1>kontakt</h1>
    </section>

    <section class="contact white">
        <h2>kontaktirajte nas</h2>
        <div class="contact__wrapper">
            <div class="contact__img">
                <img src="~/img/naslovnica/kontaktSlika.png" alt="Alternate Text">
            </div>
            <div class="contact__text">
                <ul>
                    <li><h4>Soko Štark d.o.o. Beograd</h4></li>
                    <li>Bulevar Peka Dapčevića 29</li>
                    <li>11000 Beograd, Srbija</li>
                    <li>T. +381.11. 39.56.000</li>
                    <li>F. +381.11. 39.72.989</li>
                    <li>E. kontaktcentarSRB@atlanticgrupa.com</li>
                </ul>
            </div>
        </div>
        @Html.Partial("ContactForm", new JaVolimStark.Models.ContactModel())
    </section>
</div>