﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var home = CurrentPage;
    var categories = home.Children("category");
}

@* the fun starts here *@
<div class="small-wrapper">
    <div class="index-content">
        <section class="landing">
            <p>@home.text</p>
        </section>
        <section class="products">
            <h1>@umbraco.library.GetDictionaryItem("Our products")</h1>
            <div class="grid">
                @for (var i = 0; i < 3; i++)
                {
                    <div class="grid__item grid-1st">
                        <h2>@categories[i].Name</h2>
                        <img src="@Umbraco.Media(categories[i].image.ToString()).Url" alt="" />
                        <a class="link-border" href="@categories[i].Url">@umbraco.library.GetDictionaryItem("Learn more")</a>
                    </div>
                }
            </div>
            <div class="other">
                <h2>@categories[4].Name</h2>
                <img class="img-wide" src="@Umbraco.Media(categories[4].image.ToString()).Url" alt="" />
                <a class="link-border" href="@categories[4].Url">@umbraco.library.GetDictionaryItem("Learn more")</a>
            </div>
        </section>
        <section class="packages">
            <h1>pakovanja</h1>
            <div class="packages__text">
                <h3>poklon asortiman</h3>
                <p>Tradicija darivanja lepo upakovanih poklona je stara koliko i sama ljubav, a najzabavniji deo te tradicije je otpakovanje, radoznalost i iščekivanje: šta je unutra?</p>
                <a class="link" href="#">Saznaj više...</a>
            </div>
        </section>
        <section class="shops">
            <div class="shops__wrapper">
                <img class="img-heading" src="" alt="" />
                <h1 class="top-line">prodavnice</h1>
                <img class="img-wide" src="~/img/naslovnica/prodavnicaSlika.png" alt="" />
                <a class="link-border">saznaj više</a>
            </div>
        </section>
        <section class="news">
            <h1 class="heading-side">novosti</h1>
            <div class="slick">
                <div class="slick__item slick-1">
                    <p>Blog</p>
                </div>
                <div class="slick__item slick-2">
                    <p>Blog</p>
                </div>
                <div class="slick__item slick-3">
                    <p>Blog</p>
                </div>
                <div class="slick__item slick-4">
                    <p>Blog</p>
                </div>
            </div>
            <div class="slick__next">
                <div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

        </section>

        <section class="loyalty">
            <div class="loyalty__wrapper">
                <h1 class="no-line">loyalty</h1>
                <p>
                    Ja volim Stark Card <br>Sakupljajte bodove i ostvarite popuste u našim radnjama.
                </p>
                <a class="link" href="">Uskoro...</a>
            </div>
        </section>
        <section class="contact">
            <a class="link-border">kontaktirajte nas</a>
        </section>
    </div>


</div>
