﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1>prodavnice</h1>
        <div class="parallax img1" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    </section>
    <section class="locations">
        <h3>@umbraco.library.GetDictionaryItem("Visit us")</h3>
        <div class="locations__wrapper">

            <div class="locations__list">
                <h4>beograd</h4>
                <ul>
                    <li>bla<span class="circle"></span></li>
                    <li>bla<span class="circle"></span></li>
                </ul>
            </div>
            <div class="locations__img">
                <img src="~/img/jaVolimStarkLogo.png" alt="" />
                <img src="~/img/jaVolimStarkLogo.png" alt="" />
            </div>
            <div class="locations__list">
                <h4>novi sad</h4>
                <ul>
                    <li>bla</li>
                    <li>bla</li>
                </ul>
                <h4>zemun</h4>
                <ul>
                    <li>bla</li>
                    <li>bla</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="map"></section>
    <script>
        function initMap() {
            let myLatLng = {
                lat: 45.812298,
                lng: 15.983456
            };

            let map = new google.maps.Map(document.querySelector('.map'), {
                zoom: 17,
                center: myLatLng
            });

            let marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });
        }

        function changeMarkerPos(lat, lng) {
            myLatLng = new google.maps.LatLng(lat, lng)
            marker.setPosition(myLatLng);
            map.panTo(myLatLng);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpCMqIbF8A2LL5xwlAKBlx_WnAkTuwIj8&callback=initMap"></script>
</div>