﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = CurrentPage.AncestorOrSelf(1);
}

@* the fun starts here *@

<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@home.pageTitle</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/scripts/slick.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <div class="big-wrapper">
        @if (CurrentPage.DocumentTypeAlias == "home")
        {
            <img class="track" src="~/img/trakicaKOSO.png" alt="" />
        }
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </div>

    <script src="~/scripts/slider.js"></script>
    <script src="~/scripts/jquery.paroller.js"></script>
    <script src="~/scripts/main.js"></script>


    <script>
        $('.slick').slick({
            arrows: false,
            dots: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            speed: 500,
            variableWidth: false,
        });

    </script>

    <script>
        $('.slick__next').click(function () {
            $('.slick').slick('slickNext');
        });

    </script>

    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 100) {
                $(".header").addClass("not-transparent");
            } else {
                $(".header").removeClass("not-transparent");
            }
        });

    </script>

</body>

</html>