﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1>blog</h1>
    </section>
    <section class="blog white">
        <div class="blog__wrapper">
            <div class="blog__img">
                <img src="~/img/naslovnica/blog 1.png" alt="" />
            </div>
            <div class="blog__text">
                <h4>blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <i class="fas fa-chevron-down"></i>
            </div>

        </div>

        <div class="blog__wrapper">

            <div class="blog__text">
                <h4>blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="blog__img">
                <img src="~/img/naslovnica/blog 1.png" alt="" />
            </div>
        </div>
    </section>
</div>