﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1 class="hide">.</h1>
        <div class="parallax-big img1" data-paroller-factor="0.5" data-paroller-factor-xs="0.2">
            <section class="intro">
                <div class="intro__wrapper">
                    <div class="intro__img">
                        <img src="~/img/square.jpg" alt="" />
                    </div>
                    <div class="intro__text">
                        <h2>lorem ipsum</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
                        <a class="heading-side">naše radnje</a>
                    </div>
                </div>
            </section>
        </div>

    </section>

    <section class="info">
        <div class="info__wrapper">
            <div class="info__about">
                <div class="about-heading active">
                    <h3>informacije o proizvodu</h3>
                </div>
                <p class="info__about--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis in sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis in sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis in sem.</p>
            </div>
            <div class="info__nutrition">
                <div class="nutrition-heading inactive">
                    <h3>nutritivna tablica</h3>
                </div>
                <table class="info__nutrition--table">
                    <tr>
                        <td>Energetska vrednost (kJ/kcal)</td>
                        <td>1867 kJ / 446 kcal</td>
                    </tr>
                    <tr>
                        <td>Masti (g)</td>
                        <td>18,4 g</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

    </section>
</div>