﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="subpage-content">
    <section class="landing">
        <h1>draže badem</h1>
        <div class="parallax img1" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
        <p class="landing__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus odio, mattis eget dui a, commodo iaculis dui. Maecenas sollicitudin quis tellus ac rutrum. Etiam a metus ac tellus molestie porta. </p>
    </section>
    <section class="flavours">
        <div class="flavour-grid">
            <div class="flavour-grid__item">
                <div>
                    <a href="product.html">
                        <img src="~/img/square.jpg" alt="" />
                        <h3>lorem ipsum</h3>
                    </a>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                    <a href="" class="flavour-more">saznaj više</a>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>
            <div class="flavour-grid__item">
                <div>
                    <img src="~/img/square.jpg" alt="" />
                    <h3>lorem ipsum</h3>
                    <p>Ukusni pečeni badem obavijen finom mlečnom čokladom</p>
                </div>
            </div>

        </div>
    </section>
</div>